$brikolatu-max-width:$grid-content;

.brikolatu{
  max-width: $brikolatu-max-width;
  position:relative;
  z-index: 5;
}

.brikolatu__grid{
  display: grid;
  grid-template-rows:50% 50%;
  grid-template-columns:100%;
  text-align: center;
}

.brikolatu__img{
  width: 30rem;
  transition: opacity .3s;
}

.brikolatu__img:hover{
  opacity: .6;
}

.brikolatu__maps{
  padding: 5rem;
}

@media #{$breakpoints-medium} {

}

@media #{$breakpoints-large} {

  .brikolatu__grid{
    grid-template-columns:50% 50%;
    grid-template-rows:100%;
  }

}

@media #{$breakpoints-xlarge} {

}