$puntos-venta-max-width:$grid-content;
$puntos-venta-font-family:$font-family-montserrat-regular;
$puntos-venta-title-font-family:$font-family-bebas;
$puntos-venta-punto-venta-backgorund-color:white;
$puntos-venta-maps-background-color:$color-lila-basmo-rgba;
$puntos-venta-tienda-font-color:$color-orange-basmo;
$puntos-venta-info-font-color:$color-gray-content;

.puntos-venta{
  background-image: linear-gradient(349deg,white 40%,#FFA500 40%)!important;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100vw;
}

.puntos-venta__content{
  font-family: $puntos-venta-font-family;
  max-width: $puntos-venta-max-width;
  position: relative;  
}

.puntos-venta__title{

}

.puntos-venta__puntos-venta{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.puntos-venta__punto-venta{
  background-color: $puntos-venta-punto-venta-backgorund-color;
  border-radius: 10px 10px 10px 10px;
  flex: 0 1 calc(100%);
  margin: 0 8rem 0 8rem;
  margin-bottom: 5rem;
}

.puntos-venta__punto-venta__grid{
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 100%;
}

.puntos-venta__hover{
  height: 200px;
  border-radius: 50%;
  margin: auto;
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
  width: 200px;
}

.puntos-venta__hover:hover{

  .puntos-venta__maps{
    opacity: 1;
  }

  .puntos-venta__maps .icon--maps{
    transform: scale(.3);
  }

  .puntos-venta__img{
    transform: scale(1.2);
  }
}

.puntos-venta__maps{
  background-color: $puntos-venta-maps-background-color;
  height: 100%;
  position: absolute;
  width: 100%;
  text-align: center;
  transition: all .3s;
  opacity: 0;
  z-index: 15;
}

.puntos-venta__maps .icon--maps{
  fill:white;
  transform: scale(4);
  transition: all .3s;
}

.puntos-venta__img{
  height: 100%;
  transition: all .3s;
  position: absolute;
  z-index: 10;
}

.puntos-venta__tienda{
  color: $puntos-venta-tienda-font-color;
}

.puntos-venta__info{
  color: $puntos-venta-info-font-color;
  font-size: 1rem;
  margin: 1rem;
  text-align: center;
  padding: 1rem;
}

.puntos-venta__info .icon{
  height: 1rem;
}

@media #{$breakpoints-medium} {


}

@media #{$breakpoints-large} {
  .puntos-venta__title{
  }

  .puntos-venta__punto-venta{
    margin: 3rem;
  }

  .puntos-venta__punto-venta__grid{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
  }

  .puntos-venta__hover{
    margin-top: 0rem;
    margin: 3rem;
  }

  .puntos-venta__hover:hover{

    .puntos-venta__maps .icon--maps{
      margin-top: -2rem;
      transform: scale(.3);
    }

  }

  .puntos-venta__img{

  }

  .puntos-venta__info{
    color: $puntos-venta-info-font-color;
    font-size: .8rem;
    margin: 3rem;
    text-align: left;
    padding: 0rem;
    padding-left: .5rem;
  }

  .puntos-venta__info div{
    padding-top: .3rem;
  }

  .puntos-venta__info .icon{
    height: 1rem;
  }
}
@media #{$breakpoints-xlarge} {

}