$footer-max-width:$grid;
$footer-background-color:$color-orange-basmo;
$footer-rrss-icon-color:$color-lila-basmo;
$footer-nuestras-marcas-color:$color-lila-basmo;

.footer{
  background: $footer-background-color;
  margin: auto;
  max-width: 100vw;
  min-height: 100px;
  position: relative;
  z-index: 15;
}

.footer__grid{
  display: grid;
  grid-template-rows: auto auto auto;
}


.footer__info{
  color: $color-white;
  font-family: $font-family-bebas;
  font-weight: normal;
  margin-top: .8rem;
  text-align: center;
  transition: flex .5s;
}

.footer__info__link{
  color:$color-white;
  text-decoration:underline;
}

.footer__text{
  font-size:2rem;
  padding-top:1rem;
}

.footer__sponsors{
  margin-top: 1rem;
  text-align: center;
}

.footer__sponsors__div{
}

.footer__sponsors__img{
  width: 10rem;
  padding: 0 .2rem 0 .2rem;
  transition: opacity .2s;
}

.footer__sponsors__img:hover{
  opacity: .6;
}

.footer__sponsors__link--nuestrasmarcas{
  color: $footer-nuestras-marcas-color;
  margin-top: -2px;
  text-decoration: none;
  transition: opacity .3s;
}

.footer__sponsors__link--nuestrasmarcas:hover{
  opacity: .6;
}

.footer__rrss{
  margin-top: 1rem;
  text-align: center;
  transition: flex .5s;
}

.footer__rrss__link{  
  text-decoration: none;
  transition: opacity .2s;
}

.footer__rrss__link:hover{
  opacity: .6;
}

.footer__rrss__link .icon{
  fill: $footer-rrss-icon-color;
  height: 6rem;
  padding: 0 1rem 0 0;
}

@media #{$breakpoints-medium} {


}

@media #{$breakpoints-large} {

  .footer__grid{
    display: grid;
    grid-template-columns: 40% 20% 40%;
    text-align: center;
  }

  .footer__info{
    text-align: left;
  }
  .footer__text{
    margin-left: 1rem;
    font-size: 1rem;
  }

  .footer__sponsors__img{
    width: 4.5rem;
  }

  .footer__rrss{
    text-align: right;
  }

  .footer__rrss .icon{
    height: 2rem;
  }

}

@media #{$breakpoints-xlarge} {

}